{% extends 'base.html.twig' %}

{% block title %} {{ group_fitness_class.name }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>{{ group_fitness_class.name }}</h1>
            <p><b>Тренер: {{ group_fitness_class.couchName }}</b></p>
            <p>{{ group_fitness_class.description|raw }}</p>
        </div>

            <div class="col-sm-4">
                {{ render(controller(
                    'App\\Controller\\FitnessClubController::subscriptionForm',
                    {
                        request: app.request,
                        groupFitnessClass: group_fitness_class
                    }
                )) }}
                {{ render(controller(
                    'App\\Controller\\FitnessClubController::userNotificationForm',
                    {
                        request: app.request,
                        groupFitnessClass: group_fitness_class
                    }
                )) }}
            </div>
    </div>
{% endblock %}
