{% extends 'base.html.twig' %}

{% block title %} {{ groupFitnessClass.name }} {% endblock %}

{% block body %}
    <div class="row">
            <div class="col-sm-8">
                <h1>{{ groupFitnessClass.name }}</h1>
                <p><b>Тренер: {{ groupFitnessClass.couchName }}</b></p>
                <p>{{ groupFitnessClass.description|raw }}</p>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        {{ form(subscriptionForm) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
